<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Quiz Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div id="app">
        <!-- Include the navbar component -->
        <navbar></navbar>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6">
                    <h1>{{ message }}</h1>
                    <button type="button" class="btn btn-light mx-2 custom-btn" style="background-color: #60A1BC; color: white; border: none;">Register</button>
                    
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <button type="button" class="btn btn-light mx-2 custom-btn" @click="login()" style="background-color: #60A1BC; color: white; border: none;">Log in</button>
                </div>
                <div class="col-md-6">
                    <img src="images/quizlo-logo.png" class="img-fluid d-none d-md-block" alt="Placeholder image">
                </div>
            </div>
        </div>
        <footer-component></footer-component>
        
    </div>

    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

    <!-- Include the navbar component script -->
    <script src="./components/navbar-component.js"></script>
    <script src="./components/footer-component.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Start your journey with us',
            },
            methods: {
                login() {
                    // Add login functionality here
                    alert('Login clicked');
                }
            }
        });
    </script>
    
    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
